body{
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    color: #393636;
}

#header {
margin-top: 5em;
overflow:auto;
align-items: center;
padding-bottom: 1em;
border-bottom: 0.05em solid #CCCCCC;
}

#header a {
text-decoration: none;
color: #393636;
}

#header .title {
font-size : 2em;
float:left;
}

#header .menu {
float:right;
text-align: right;
}

#header .menu a {
margin-left:0.5em;
}

#main .texte {
margin-top: 2em;
text-align: justify;
text-justify: inter-word;
}

#main .texte li {list-style-type: none;}
#main .texte li:before {
	content: "- ";
}

#main h1 {
text-align:center;
font-size:1.8em;
margin-top: 1.5em;
margin-bottom: 1.5em;
font-family: sans serif;
font-weight: normal;
}

#main h2 {
margin-top: 5em;
}

#main ul.textes {
padding:0;
list-style-type: none;
}

#main .textes li {
margin-bottom:0.7em;
}

#main .textes a {
color: #393636;
font-weight: bold;
text-decoration:none;
font-size:1em;
font-family: sans serif;
}

#main .textes a:hover{
color: #AAAAAA;
}


