<h1>Distopsia</h1>

<p>Mon angoisse à moi, à la fin, c’était de mourir là où on l’avait prévu. Non pas mourir physiquement, mais intellectuellement. C’était de me boucler, me complaire dans la masse à un point tel que j’en aurais perdu toute intensité, tout rayonnement qui m’était propre, pour finir comme une boule à facette, astre sans autre propriété que de refléter les autres.</p>

<p>Jusque là, tout allait bien. C’est toujours après coup que l’on perçoit notre vie d’avant. Comme tout le monde, j’avais des choses à redire, des regrets planqués et des rêves oubliés mais vraiment je n’étais pas à plaindre. Un travail excitant avec de la reconnaissance sans trop de responsabilités, des amis que je pouvais appeler, des vacances assez souvent pour risquer de les emmêler, de la tendresse quand on me le recommandait et un appartement avec tout ce qu’il faut dedans pour y rester la plupart du temps. Ça me fait sourire de repenser à tout ça. Un de ces sourires tendre comme celui que l’on fait à un enfant inconnu qui pourtant nous ignore admirablement.</p>
<p>C’est étonnant vous me direz, vu mes connaissances, que je n’ai pas saisi de suite ce qui allait m’arriver. Je n’ai même rien vu venir.</p>

<p>J’ai reçu un matin morose un courrier au bandeau bleu et aux lettres allégées sans matière grasse; un recommandé, transporté à toute pédale par un coursier. Je me demande bien d’ailleurs pourquoi on envoie encore des lettres. La méthode d’acheminement est bien dans l’air du temps mais l’objet en lui même semble si anachronique. Certes, il y a un certain charme à recevoir du papier mais je crois surtout qu’on a bien réfléchi ce contraste saisissant entre le diagnostic numérique et le soin physique. Le contenu ? On ne peut plus clair. C’est comme si on avait mis directement les cachetons dans l’enveloppe et que je les avais avalés sec. Dépression chronique.</p>
<p>Au travers l’encre sur le papier, était représenté un paysage graphique aux multiples couleurs. Je pouvais y explorer mon humeur des dernières semaines ou encore observer mon graphe social principal où chaque relation était pondérée – Léa, avec son éternel coefficient négatif, figurait encore dans la liste cinq mois après l’avoir quittée. Une partie du document était consacrée aux corrélations entre mes <em>accomplishment</em> et mon environnement. Créativité, découverte, joie, productivité. L’indicateur <em>self care</em> pointait à la frontière du rouge. Ça m’a touchée aux tripes. Pas besoin d’aller voir en ligne le détail, ça fait longtemps que j’ai fait mon auto-diagnostic et c’est bien pour ça que je ne vais jamais contrôler ma &#968A sur mon téléphone. Enfin, si je tenais ce rapport fébrilement, c’est que la trace de mon équilibre psy, à force de s’aventurer à proximité de l’écart type supérieur, a fini par dépasser la ligne. Aujourd’hui je me demande bien comment j’ai pu avaler ça, comment j’ai pu me sentir contrainte par un écart à la norme. Faut dire que c’était bien la première fois que je recevais une lettre au bandeau bleu et qu’elle semblait on ne peut plus sérieuse malgré ses graphes colorés. Faut dire surtout que je ne me posais pas trop de questions à ce propos.</p>
<p>Cette lettre, elle me convoquait ni plus ni moins à deux rendez-vous chez des biopsychiatres du travail. C’était comme ça, deux avis étaient nécessaires dès qu’il s’agissait d’avoir potentiellement un arrêt maladie. Ils étaient prévus coup sur coup, en une après midi, fallait juste balader son corps anxieux d’un bout à l’autre de la ville.</p>
<p>C’était une chose nouvelle pour moi que d’être angoissée, de serrer la mâchoire à ne plus en pouvoir, d’éprouver mon corps et ma conscience limitée tout en veillant à prendre du recul sur moi-même. Qu’est-ce qui pouvait bien clocher en moi? Était-ce ma volonté farouche de toujours mettre de l’intensité dans tout ce que je faisais qui finalement me minait le moral? Ou le mal-être que je percevais parfois au travail avec certains collègues? Peut-être même que ma &#968A avait remarqué mon habitude de m’asseoir de temps en temps sur un banc au parc Bouygues, pour observer les enfants qui y jouent. Voilà le drame, j’étais diagnostiquée déprimée sans savoir pourquoi alors je remuais le monde pour y trouver ma raison.</p>

<ul>
<li>Avez-vous commencé votre traitement ?</li>
</ul>
<p>Le climax de l’entretien est vite arrivé. Je croyais avoir le choix. Apparemment non. Naïve que j’étais, je pensais même qu’il se serait intéressé un peu à moi, qu’il m’aurait aidée à trouver pourquoi j’étais ainsi, ou qu’au moins il aurait fait mine de le faire. Déjà, c’était mal parti vu le rang d’oignon de tristesse qu’il y avait dans la salle d’attente. Heureusement que Mania était client premium de la sécurité sociale, ça m’a permis de passer directement sans attendre.</p>
<ul>
<li>Je pense d’abord prendre le temps de voir si ça va mieux.</li>
</ul>
<p>Le biopsychiatre fronça les sourcils et se redressa sur sa chaise, comme pour donner encore plus de hauteur à son autorité.</p>
<ul>
<li>Vous n’êtes pas censée discuter un diagnostic mademoiselle. Mania, votre employeur doit avoir une garantie que vous vous soignez et pour ça, seule la prise régulière d’un traitement prescrit initialement par un biopsychiatre est valide. Vous comprenez?</li>
<li>Oui.</li>
</ul>
<p>Sérieusement? Il m’a appelée mademoiselle?</p>
<ul>
<li>D’ailleurs, pour assurer le remboursement des frais, une prise de sang hebdomadaire vous sera demandée. Votre smartphone est-il équipé d’un microanalyseur de sang?</li>
<li>Oui.</li>
<li>Bien, vous ferez la prise de sang vous même à domicile dans ce cas, c’est quand même plus pratique. Ne vous en faites pas, la dépression, ils y sont tous passés chez Mania.</li>
</ul>
<p>Deux minutes trente tout compris. Ce fut exactement la même chose chez son collègue, mise à part qu’il m’a accordé trois jours de congé.</p>

<p>J’ai donc commencé ce fameux traitement personnalisé selon ma &#968A, et je dois bien avouer qu’après quelques jours j’avais la sensation de mieux contrôler ma vie, d’être à nouveau dans la lumière, plus en mesure de m’épanouir, de réaliser ce que je pensais être. Et surtout, j’ai substantiellement gagné en performance que ce soit au travail, dans mes relations intimes ou dans mes activités personnelles qui toujours suscitaient enthousiasme à mon égard. Rien n’était contrainte, tout était possibilité d’épanouissement. Réussite, challenge, reconnaissance, récompense. Pas de méprise, nous étions tous dopés et dupés par nos cachets reçus chaque jour avec une posologie adaptée, personnalisée suivant nos récents affects et nos ambitions avouées. Il n’y avait même pas de tabou, c’était un fait connu, une notion commune que nous partagions tous au travail.</p>
<p>Cette période est liée pour moi à une intensité de vie comme jamais auparavant je ne l’avais ressentie, accompagnée d’une consciente satisfaction. Chez Mania, j’avais la certitude de déployer toute ma subjectivité et ma personnalité, d’y investir mon Moi profond, véritable et sans filtre. Ma souffrance passée, ma dépression, je l’avais surmontée et chevauchée. J’avais repris le contrôle et j’étais maintenant armée en vainqueure pour aller de l’avant, plus loin, plus forte, persuadée que tout individu pouvait réussir comme je l’avais fait, sans conscience du peu d’espace dont nous disposions en haut de la pyramide. Pas d’écart, pas d’excès. Jogging sur la pause de midi, méditation pleine conscience à la cafét une fois par semaine, j’accordais une écoute particulière aux attentes de ce corps normé qui n’était en réalité plus le mien mais celui que l’on m’avait soufflé d’inventer.</p>
<h2 id="section-1"></h2>
<p>Cet état de grâce a duré un certain temps, ressenti comme long et pourtant relativement court. Seize mois exactement. Et puis il y eu l’évènement – c’est ainsi que je le nomme, à défaut de parler d’attentat comme la presse le fit. J’étais dans le tramway quotidien, vers 19h, de retour du travail, occupée à traiter mes mails sur mon téléphone. Mon voisin, lui, était plongé dans <span class="math inline"><em>Ψ</em>A</span>Trainer, une appli pour laquelle j’avais participé à la conception. En pleine analyse de vidéos faciales d’autres usagers, il swipait sans cesse vers chaque bord de l’écran. À droite si le visage affiché semble heureux, à gauche s’il semble malheureux et en bas si l’expression est neutre. 0,1 centime le swipe – dans la moyenne du marché. Faut bien saisir l’enjeu. Un gamin, si on lui désigne pour la première fois un chat, il saura ensuite reconnaître l’animal sans faute. Une machine, c’est tout artificiel et surtout pas intelligent; il est nécessaire de lui montrer des milliers de chats pour espérer qu’elle puisse les distinguer d’un âne. Alors quand on a voulu implémenter la reconnaissance d’émotion dans la &#968A, il a bien fallut l’entraîner, lui fournir un très grand nombre de données traitées humainement. C’était pas très compliqué, des vidéos faciales, on en avait à la pelle en activant les caméras frontales des smartphones. Et puis ils ont été nombreux à devenir <em>trainers</em> sur notre appli, acceptant de s’approcher de l’état de machine pour rentabiliser le temps dans les transports, arrondir les fins de mois ou même pour sous-vivre. On a eu quelques sueurs froides au lancement. Un outsider a bien failli nous rafler le marché et c’est de peu que l’on a pu prouver que derrière son IA, il y avait en fait des enfants bangladais qui effectuaient la reconnaissance d’émotion en temps réel sur des tablettes.</p>

<p>Mon <em>trainer</em> de voisin n’a rien remarqué lorsqu’un grondement sourd s’est fait ressentir dans le tramway. Au début, c’était presque intime, et d’une fréquence si basse qu’uniquement perceptible lorsque le ventre des ondes sonores se trouvait en moi. C’était suffisant pour m’alerter, pour m’éveiller intensément. Se second râle venu d’outre temps m’a fait frémir. J’ai dû être la première de la rame à avoir focalisé mon attention sur ces sons. Des sons de mon enfance.</p>

<ul>
<li>Papa, le renard est à nouveau venu dans la cuisine!</li>
<li>Tu en es sûre?</li>
<li>Certaine.</li>
</ul>
<p>Matinée humide d’automne. Je scrutais avec minutie le plan de travail à la recherche de tout ce qui pouvait confirmer le passage de l’animal. Rien. Pas un poil.</p>
<ul>
<li>Comment le sais-tu?</li>
<li>J’ai laissé cette nuit mon téléphone sur le plan de travail et il a enregistré son ronronnement.</li>
<li>Ça ne ronronne pas un renard.</li>
<li>Bien sûr que si.</li>
</ul>
<p>Il mit ses lunettes rondes, ouvrit le tiroir, en sortit la loupe de son grand-père et chercha avec moi attentivement. C’est qu’il était bon acteur mon père. Subtilement et malgré ma concentration, il réussissait toujours à placer un indice à mon insu et je crois bien qu’il n’y avait aucune feinte dans son émotion quand il me voyait trouver la relique animale. C’était notre jeu à nous. Un jeu qui transmutait le bas en haut. Un jeu où notre curiosité, nos rires et nos découvertes étaient créateurs d’un monde perdu. Par moment il n’y avait rien. D’autres fois, nous trouvions une empreinte dans la moquette, une griffure au pied de la bibliothèque ou un un poil que je conservais précieusement. Jamais le mystérieux inconnu ne mangeait chez nous. Mon père me racontait à ce propos qu’en qualité d’animal sauvage, il n’avait nul besoin de l’humain et que s’il daignait nous visiter c’est bien parce qu’il en avait envie et non par nécessité. Je ne dirais pas que j’avais conscience de son manège. C’est que j’avais surtout la sensation de jouer comme les enfants savent le faire et lui, il m’accompagnait dans mes aventures. Alors plus tard, quand j’appris l’extinction totale des extra-humains, que l’ensemble du vivant était maintenant dépendant de l’humanité pour sa survie, je l’ai gardé pour moi et jusqu’à la soudaine disparition de mon père, j’acceptais même d’y rejouer, de temps en temps.</p>
<ul>
<li>Tu as trouvé quelque chose?</li>
<li>Je crois oui. Pose ta main là, à côté de la mienne.</li>
</ul>
<p>Le plan de travail était chaud. Chauffé d’une nuit de sommeil blotti.</p>

<p>Le son emplit rapidement de toute sa détente le tramway et l’espace prit d’un coup une saveur humide. Pas de doute, mon père me l’avait déjà diffusé et je l’entendais presque me murmurer à l’oreille.</p>

<ul>
<li>Ouvre toi. Prends le temps d’écouter.</li>
</ul>

<p>Des feuillages sonores obstruèrent les vitres, des oiseaux piailleurs de toutes sortes constellèrent le plafond, des bruissements d’insectes se ressentaient sur la paroi contre laquelle j’étais appuyée et trois singes – des chimpanzés d’après mes souvenirs – sortirent de sous les sièges et commencèrent à se balancer aux barres d’appui. Y a pas à dire, c’était grandiose.</p>
<p>L’atmosphère densifiée par les sons me prit à la gorge, me fit redresser et ma colonne vertébrale s’étira jusqu’à la libération. Un souffle enfin expiré après des années de chaos intérieur. Et un bien-être intense, fluide et conscient. La suite, c’est lui qui me l’a racontée.</p>

<ul>
<li>Comment expliquez-vous que vous soyez la seule du tramway à avoir eu un équilibre psy accru lors de l’attentat?</li>
<li>Comment ça?</li>
</ul>
<p>On était le lendemain. Le biopsychiatre prenait cette fois le temps de soutenir mon regard. C’est seulement au réveil que j’ai compris l’ampleur de l’évènement. Ce qui s’était passé dans le tramway n’était pas isolé. L’archive avait été entendue dans l’ensemble des lieux publics disposant de diffuseurs de publicité sonore. Dans les médias, ils ne parlaient que de ça et dénonçaient l’attitude puérile de ceux qui jouent avec l’émotion normée des autres. Avant même que je sorte de chez moi, j’avais reçu une convocation express chez le praticien. C’était assez étonnant qu’il souhaite me voir en particulier vu le nombre de gens que ça avait touché.</p>
<ul>
<li>Les résultats de la &#968A basés sur l’analyse du paysage sonore et des émotions faciales sont formels. L’ensemble des usagers ont éprouvé une peine intense, un sentiment négatif profond à l’audition de cette archive et pour vous, c’est l’exact inverse qui s’est manifesté.</li>
<li>Jusqu’à ce que je disjoncte vous voulez dire?</li>
<li>Oui. Vous souvenez-vous de vos émotions durant ce court instant?</li>
<li>Absolument. À vrai dire, je les ressens toujours avec simplement moins d’intensité.</li>
</ul>
<p>Le retour à la norme au plus vite. Voilà son objectif. Il a néanmoins présenté une curiosité, un attrait envers ma personne, ou plutôt mon cas. Comment ai-je pu passer si rapidement de la joie indicible à la crise explosive? Selon ses dires, j’aurais interpellé tout le monde en hurlant des questions rhétoriques sans raison.</p>

<ul>
<li>Entendez-vous ce que nous avons tué? Regardez-vous à la fin! Arrêtez de fuir! Et toi là-bas, est-ce que tu éprouves? Est-ce que tu es vivante?</li>
</ul>

<p>Face à ma visible incompréhension de la situation, son ton attendu de médecin gagna soudain en fermeté.</p>
<ul>
<li>Vous savez, vous n’êtes pas la seule à être sensible à la perte du vivant indépendant de l’homme. Notre société a bien pris conscience de cette situation et de ses causes, mais nous ne pouvons plus revenir en arrière maintenant. Chacun doit faire sa part, surmonter cette douleur et vivre avec. Vous ne pouvez pas perturber ainsi ceux qui ont fait cet effort.</li>
</ul>

<p>La belle affaire, à l’écouter, j’étais presque l’autrice de ce soit-disant attentat psychique. Militante malgré moi. Finalement, il a beaucoup parlé pendant ce rendez-vous. La nécessité de réhabilitation, mes liens sociaux à reconstruire, la gestion de mes crises. Je n’ai pas tout saisi de ce qu’il disait; ma compréhension fut anéantie lorsqu’il me cloua dans le crâne la fatidique articulation: maladie mentale. C’est là que j’ai senti le piège, le dépassement de ma volonté. J’avais abordé l’entretien en exprimant mon mal-être, ma profonde souffrance dans ce monde où le vivant n’est plus, et voici ma punition qui tient en deux mots. Je pense avoir évité le séjour en unité spécialisé uniquement de par ma position chez Mania. Une développeuse de &#968A chez les fous, la presse aurait adoré. Au lieu de ça, j’ai eu droit à un suivi personnalisé et gratuit à domicile de 5 jours pour lequel j’ai donné mon accord et que la contre-visite a approuvé. Il répondait à mon désir immédiat: rentrer chez moi.</p>

<p>Sur la route du retour, je suis passée par République. Une fresque venait d’être réalisée sur la façade surplombant l’arrêt de tram et des drones de nettoyage s’activaient déjà pour la recouvrir. On pouvait encore distinguer des animaux sous la peinture blanche.</p>
<p>Je pleurais.</p>
<h2 id="section-2"></h2>
<ul>
<li>Comment allez-vous aujourd’hui?</li>
</ul>

<p>Est-ce cela, la véritable dépression? Un éternel recommencement? Voici trois fois qu’Alepsya me réveille ainsi et à nouveau elle enchaîne avec l’entretien d’humeur.</p>

<ul>
<li>Pouvez-vous me raconter votre histoire?</li>
</ul>

<p>Quelqu’un était passé chez moi pendant les entretiens biopsychiatriques. Dans chacune de mes deux pièces trônait verticalement un cylindre d’une quinzaine de centimètres de haut doué de parole. Celui de la chambre était doté d’un orifice à sa base d’où sortait mon traitement. Véritable distributeur de friandises. Je connaissais bien ces machines, elles ont été conçues dans le service à l’étage inférieur du mien. Ce produit, c’était notre meilleure vente en santé-domotique mais jusqu’à présent, j’avais tardé à m’équiper – c’est que ça me faisait trop penser au boulot.</p>
<p>J’avais pour consigne de rester chez moi, de répondre aux questions d’Alepsya et de prendre mes cachets personnalisés. J’ai passé les deux premiers jours à me sentir endormie, à la fois assommée par ce que je prenais et habitée par une solitude profonde. Aucun de mes collègues n’a répondu à mes messages. Silence d’octet. Mon asile à domicile c’était leur paix sociale. J’étais considérée comme une relation à risque, susceptible de propager dépression et tristesse. Au fond, ils n’avaient pas tort. Je ne souhaitais plus me mentir à moi-même ni participer au déni collectif. Crise de vérité qui ne pouvait qu’être absolue après tant d’éblouissement. Sauf que je souhaitais aussi leur partager le bien-être qui m’avait traversé en me remémorant ces souvenirs d’enfance.</p>

<ul>
<li>Et toi, quand as-tu éprouvé pour la dernière fois de la gratitude envers le vivant?</li>
</ul>

<p>Heureusement que les collègues que j’ai contacté n’ont pas rendu visite à la folle, j’aurai davantage fait peur qu’inspiré leurs vifs atrophiés.</p>

<p>Le troisième jour, j’ai réalisé que j’avais de plus en plus de mal à m’accrocher au souvenir de mon père, ce flotteur inespéré que j’avais retrouvé lors de l’évènement. J’avais la sensation de glisser de la bouée qui, de plus en plus lisse, ne présentait plus aucune prise. Je souhaitais flotter, m’emplir de ce vent libérateur alors que l’on ajoutait sans cesse du plomb à mes pieds. Me couler. Me faire revenir là où il n’y a pas d’air, où nous sommes toutes et tous en apnée, où nous marchons, les pieds dans le sable, au fond de l’abysse, là où nous noyer est impossible car nous n’y avons pas besoin de respirer.</p>

<p>Duper la &#968A n’était pas chose aisée, de part la multitude des sources d’informations que l’on avait consenti à lui donner. J’avais réalisé mon doctorat de mathématiques et informatiques en collaboration avec Mania sur l’entraînement continu du réseau de neurones de la &#968A. Ainsi, il ne m’a fallu que très peu d’adaptations à mon code de test pour le calibrer sur mes données personnelles et lui faire générer des tirages considérés comme normaux. Lorsque je suis sortie de chez moi, mon téléphone posé sur la table conversait tranquillement avec Alepsya, tandis que ma box wifi simulait une déformation de son champ électromagnétique, caractéristique d’une présence humaine. Il n’y a rien de tel qu’une IA pour tromper la &#968A, foi de développeuse.</p>
<p>Suite au Printemps des Espoirs qui marqua dans la violence la fin des extra-humains, il fut décidé de faire de la souffrance psychique une affaire publique. C’est que le pathos commençait sévèrement à se faire sentir. Perte des forêts primaires, extinction des espèces, comment être indifférent à cette disparition inouïe du monde sauvage? La psychiatrie était prête à cette transition, du soin de la maladie mentale à l’accompagnement de la souffrance de chacun. C’est surtout son protocole de diagnostic qui était mûr pour la transition numérique. Le <em>Diagnostic and Statistic Manual</em> (DSM) était un véritable almanach des troubles mentaux. On posait de bonnes questions, cochait les réponses et la conclusion était donnée. Le sujet singulier, avec son histoire, ses sentiments, ses liens sociaux n’était alors pas pris en compte – l’important était la description de faits observés et catégorisés. C’était surtout le résultat d’une ambition assumée: être un champ de la médecine objectif, scientifique, dénué d’idéologie et égal des autres sciences. La biopsychiatrie; déterministe et fiable. Entre le DSM et le DSI, <em>Diagnostic and Statistic Intelligence</em>, il n’y avait qu’un discours sur les vertus de l’IA et l’ajout des données manquantes sur l’usager. La sainte alliance entre le numérique et nos besoins supposés. L’industrie pharmaceutique avait déjà créé des maladies à partir du médicament, alors pourquoi ne pas les créer à partir des données? Le DSI est sans ambiguïté. Il s’agit de donner factuellement un sens psychique à un ensemble d’informations moyennées. Rappelons le pour être bien certain que chacun et chacune le sache: la &#968A n’a rien d’intelligente. C’est simplement une gigantesque base de données agrégée au travers tous les moyens numériques dont nous disposons – les reconnaissances d’émotions faciales et vocales en étant les derniers – et calibrée statistiquement par une multitude d’entraîneurs payés au swipe. Certains même étendent leur expérience en adjoignant des données physiologiques comme la tension artérielle, la température ou des prises de sang quotidienne. Toutes ces informations ne sont pas forcément pertinentes mais ça n’a pas d’importance vu que l’algorithme de <em>deep learning</em> détermine par lui même les éléments pertinents pour une pathologie donnée.</p>
<p>Plus le nombre d’usagers est grand, plus le diagnostic est fiable mais bien entendu, il n’y avait aucune obligation d’y participer; la pression suscitée par le bas pour le calme public face aux dangers du monde était bien plus efficace que de réprimer par le haut. Enfin, Mania ne s’est pas contenté de ses propres usagers. Nous avons pris soin de constituer des comptes pour toute personne identifiée dans nos analyses, qu’elle soit utilisatrice ou non. Dans le jargon, on les appelles les <em>shadow profiles</em> et ils sont principalement déterminés par empreinte sonore et reconnaissance faciale. Cette masse de données volée a été décisive dans l’acceptation du service, permettant de poser un diagnostic immédiat dès l’inscription du nouvel usager.</p>

<p>Sur un banc du centre ville, mon PC sur mes genoux, j’ai accédé à l’OpenPsyData en prenant soin de masquer toutes mes traces – j’étais censée être chez moi, avachie dans ma camisole chimique, alors inutile d’être source d’incohérence. Mon idée était de chercher parmi les <em>shadow profiles</em> qui ont pris le tramway le jour de l’évènement. Cette base de données anonymisée était publique, seul le code d’analyse dont j’avais une copie à jour était propriété privé de Mania. Je me suis plongée dans ce cas d’étude comme je le faisais quotidiennement au bureau. Fonctions, classes, arguments, sorties. Mes scripts personnels en tâche de fond sortirent les résultats triviaux: les capteurs de proximité des usagers ont détecté 11 <em>shadows</em>, 8 personnes identifiées et 3 sans résultats probants mais qui portaient toutefois toutes sortes de caractéristiques: évaluation de l’âge, sexe, origine, éducation apparente, attitude émotive et sincérité.</p>
<p>Éprouver le code. Sautiller d’une fonction à une autre. Y perdre toute notion de réel. Paramétrer avec une volée de graphiques les coefficients de clustering. Faire défiler le temps du bout des doigts et devenir moi-même extension humaine de cette structure artificielle.</p>
<p>Aucun de ces <em>shadow profiles</em> ne semblait avoir le profil d’un activiste. Je pouvais les tracer avec suffisamment de certitude et, leur défiance envers la &#968A mise à part, ils ne présentaient pas d’intérêt.</p>
<p>Ma deuxième approche fut d’analyser les autres usagers. Détecter les tricheurs, ceux qui évitent toute reconnaissance par les appareils tiers et qui présentent des données dans la moyenne sans jamais en sortir. Chez Mania, il nous était demandé de toujours considérer ces profils comme suspects, et donc de les exclure des bases d’entraînement – c’est qu’il était fort probable qu’une IA occulte leur activité comme je l’avais moi-même fait ce matin-là. Un unique cas présentait cette caractéristique. Ce genre de profil est très difficilement identifiable s’il a bien suivi les mises à jour régulières de la &#968A. Toutefois, son algorithme était assez rudimentaire et j’ai pu très rapidement tracer sa fonction de distribution d’humeur faciale.</p>

<p>“Je n’ai rien à cacher”. Cette phrase était le véritable crédo contemporain et comme toute promesse religieusement prononcée, rares étaient ceux qui s’y tenaient réellement. Il y avait de nombreux commerces en ville prêts à nettoyer des données &#968A, ou à fournir un occulteur pour éviter à l’usager de se voir refuser un entretien du fait d’une inaptitude psycho-professionnelle. C’était tabou mais tout le monde était concerné. Une fois, j’ai surpris une anormalité chez un collègue qui trompait sa femme, et moi même, étant étudiante, j’ai plusieurs fois sciemment baissé mon équilibre psy pour obtenir des dopants et les conserver dans un tiroir de ma table de nuit jusqu’à la veille de l’examen. Nous avions tous une bonne raison de s’arranger avec la &#968A et voilà que je recommençais, sauf que cette fois j’y mettais toutes mes compétences et mes accès chez Mania pour traquer un activiste.</p>

<p>Quatre jours après l’évènement, j’étais donc dans le tramway, les yeux rivés sur l’analyse temps réel des usagers à proximité, guettant la fonction de distribution de l’occulteur &#968A que j’avais déterminée, et fébrile à l’idée de croiser celui qui m’a faite m’effondrer. Une petite dizaine de minutes suffirent à identifier un usager lui correspondant. Un homme blanc d’une cinquantaine d’année était debout, face à la porte, déjà en train de sortir. Mon PC dans mes bras, j’accourus le sac ouvert sur l’épaule. Trop juste. Il était sorti et le tramway avait déjà redémarré.</p>
<p>Avec du recul, à défaut d’avoir été instable, je pense surtout avoir été vulnérable. Je n’avais pas pris soin de porter un masque écran comme certains le font et ma course soudaine vers la porte avait à coup sûr été repérée. Je venais peut-être de signaler l’auteur de l’évènement d’une façon magistrale alors que j’étais parmi les mieux placés pour déjouer les détections d’anormalité. J’espère sincèrement que cet homme n’a pas eu d’ennui par ma faute. Ce soir-là, j’ai trouvé une feuille de papier arrachée à un carnet, chiffonnée en boule au fond de mon sac.</p>

<p><em>Samedi 11h col de la croix sans angle, sans &#968A.</em></p>
<h2 id="section-3"></h2>
<p>Deux heures que je grimpais sans croiser personne et impossible de m’extraire de cette poisse. Le brouillard était tellement dense que ma main était voilée lorsque je tendais mon bras. J’avais les yeux ouverts sur la disparition et je ne voyais que le vide. La croix sans angle, j’y était montée avec mon père quand j’étais môme. C’était en plein été et nous étions partis à l’aube naissante pour éviter la chaleur.</p>

<ul>
<li>Regarde là-bas. Tu vois la terre jaune sous le rocher? c’est un terrier.</li>
</ul>
<p>Nous avions beau chercher des traces de présence animale récente, il n’y en avait pas. Même les troupeaux ne montaient plus du fait de l’absence de nutriments dans les végétaux, alors comment des marmottes pouvaient-elles y vivre? Ici, mon père ne trichait pas. Son respect pour ce mausolée de calcaire était bien trop grand pour laisser tomber de sa manche une crotte de bouquetin tacheté ou une pomme de pin rongée par un écureuil volant. Le massif était âpre, vide, grandiose et trop triste pour jouer de lui. À l’époque, mon père croyait encore que des bêtes survivaient à notre insu en s’étant donné comme consigne absolue de se tenir hors de la vue des humains. Ça le faisait tenir. Si seulement les animaux s’étaient cachés pour nous voir mourir. Les années ont passé et il ne m’était plus possible de distinguer d’anciens terriers. La terre était homogène, terne, presque grise et cet écran brumeux m’étourdissait dans mes souvenirs, laissant venir à moi comme des réalités, imaginaire bestial et fantasmes paternels.</p>
<p>La dernière loi extra-humaine auquel nous nous soumettons est celle du jour et de la nuit. Le rythme universel qui partage clarté et obscurité. Pourtant, suffoquant dans cette épaisse atmosphère, je ne pouvais m’empêcher de remettre en question le jour supposé en contrebas. Peut-on considérer le jour levé si à la nuit succède une nuée grise dans laquelle chaque être doit scintiller pour ne pas sombrer? L’apparence devient nébuleuse lorsqu’elle est superficielle. Je crois bien aujourd’hui que les humains ont quitté la Terre de sa vérité immédiate et se sont eux-même perdus.</p>

<p>Le soleil m’a cueillie de toute sa douceur dès que je fus la tête hors des nuages. L’interface était saisissante de chaleur. Éblouie, j’ai poursuivi l’ascension quelques minutes avant de me retourner enfin. La mer pâteuse de coton s’étalait de tout son calme jusqu’à l’horizon. Le plateau urbain n’était plus. Pas une trace ne permettait de déceler la présence de la ville sous cette couette épaisse. Plus qu’une centaine de mètres à gravir. Je ralentissais, à la fois soucieuse et impatiente d’arriver.</p>

<p>La croix sans angle portait bien son nom: du pied au sommet, pas une arrête ne filait. Aucune tranche ne venait heurter la main ou le regard, pas même à son intersection. Tout n’était que rondeur et courbure vernie. En bois, d’un seul tenant, l’arbre dont elle était issue avait dû faire un diamètre exceptionnel et l’artisan, de surcroît, devait être remarquable. Mon père témoignait de beaucoup d’admiration pour l’ouvrage bien que sa signification soit si éloignée de sa spiritualité. De la croix sans angle, il ne restait plus que le socle en béton sur lequel se tenait en tailleur une jeune femme, les yeux clos et tournés vers le soleil.</p>

<ul>
<li>Tu es sous &#968A?</li>
</ul>
<p>J’avoue avoir été désarçonnée par ce tutoiement direct auquel je n’étais pas habituée.</p>
<ul>
<li>Oui</li>
<li>Tu déconnes ou quoi? Je t’ai demandé de venir sans.</li>
<li>Trop risqué, j’ai préféré l’occulter.</li>
</ul>
<p>Elle n’osait plus rien dire, statique, son regard soutenant le mien sans ciller.</p>
<ul>
<li>Je t’assure qu’il est efficace. Tu n’as qu’à essayer de faire bouger mon équilibre psy pour vérifier.</li>
</ul>
<p>Elle avait de nombreux moyens pour s’assurer de mon occultation – ni la reconnaissance vocale, ni mon capteur de proximité ne l’avaient détectée – alors y a pas à dire, j’ai été surprise lorsqu’elle s’approcha de moi et m’embrassa franco. C’est qu’elle a réussi son effet. Ajouté à l’anxiété de la rencontre, la stupéfaction de sentir ses lèvres sèches sur les miennes aurait fait vaciller n’importe quelle autre IA. Pas la mienne. Satisfaite, elle prit mon téléphone et le planqua sous le rebord érodé de la dalle de béton.</p>
<ul>
<li>T’en fais pas, tu diras que tu avais besoin de méditer. Sans compter que c’est la vérité non? Moi c’est Borée.</li>
</ul>

<p>Le temps que je me reprenne, elle avait déjà franchi le col et descendait sur l’autre versant. J’accourus et fit de mon mieux pour suivre son aisance sur le chemin minéral.</p>
<ul>
<li>Où allons nous?</li>
<li>Pas loin.</li>
</ul>
<p>Sa réponse était rude. Désobligeante, comme si elle m’en voulait déjà.</p>
<ul>
<li>Stop. Ça ne va pas se passer ainsi. Tu me donne rendez-vous ici, je risque gros en te faisant confiance, tu me testes et me témoignes même de la défiance. Il va m’en falloir un peu plus pour que je ne fasse pas demi-tour de suite.</li>
</ul>
<p>Elle se retourna lentement.</p>
<ul>
<li>Pour aller où? Retourner en bas et survivre comme avant?</li>
<li>Pourquoi pas, j’étais heureuse.</li>
<li>Heureuse de participer à ça?</li>
<li>Je m’y ferai bien.</li>
</ul>
<p>Son regard valait jugement.</p>
<ul>
<li>On peut s’accommoder de tout sous cachetons.</li>
</ul>

<p>Ses mots m’ont heurtée et à nouveau elle prit de l’avance sur le chemin. Je pris cette fois mon temps pour la rattraper. Et surtout j’avais saisi.</p>
<ul>
<li>Tu es une disparue?</li>
</ul>
<p>Elle fit mine de ne pas m’avoir entendue, continuant la marche. Je n’ai pas insisté, ayant l’intuition qu’elle prenait simplement conscience de ma présence dans son espace.</p>
<p>Plus tard, après m’avoir tendu de l’eau suite au franchissement d’un second col, elle parla. Sa voix avait perdu de son tranchant; elle s’émoussait.</p>
<ul>
<li>Il n’y a pas que des dopants psychiques dans ce bas monde. Enfin tu en as fait également l’expérience quelques jours si je ne m’abuse.</li>
</ul>
<p>J’opinai du chef. Elle poursuivit.</p>
<ul>
<li>Attachée, comme beaucoup d’autres, j’étais devenue rentable. Je faisais partie de cette garantie: les fous sont contrôlés, vivez libre. J’étais devenue dépendante de ce que la &#968A me donnait. Le cachet excitant pour toi, le médoc assommant pour moi avec toujours le bonheur à l’intérieur. T’es-tu jamais demandée pour quelle raison tu as eu le droit à des comprimés pour une soi disant dépression?</li>
<li>Je sais bien que ces traitements accroissent les inégalités.</li>
<li>Et qu’as-tu fais, développeuse de &#968A?</li>
</ul>
<p>Inutile de répondre.</p>
<ul>
<li>Comment as-tu quitté l’inclusion?</li>
<li>De la même manière que tu t’es éveillée dans le tramway.</li>
</ul>

<p>Nous n’avons plus échangé du chemin. Elle n’était pas très causante et je ne souhaitais plus la relancer. Il y avait pourtant une foule de questions qui restait contenue dans ma trachée. Et puis d’habitude, ça me tourmente ce genre de situation où l’on ne parle pas. Où l’on ne sait plus comment aborder l’autre parce que simplement on ne le connaît pas. Dans ces moments-là, je suis comme tout le monde, enfin je crois. Je parle de moi, je m’étale de toute ma surface pour combler grossièrement tout espace criant de gêne. Que pensait-t-elle de moi? Je la voyais bien venir – moi, prêtresse de la &#968A, incarnation de toutes ses prescriptions. Je crois bien aujourd’hui qu’elle me dédiait son silence. Aucune rancune ni a priori. Simplement une capacité à assimiler la présence de l’autre par le temps présent, commun et suffisant.</p>
<p>Le chemin traversait à flanc un pierrier, enroulant le relief, et la perspective donnait la sensation que celui-ci se poursuivait dans le ciel au point que lorsque Borée passa la courbure, elle disparut en quelques pas.</p>
<h2 id="section-4"></h2>
<p>Mon regard fut débordé par l’intensité du paysage découvert. Une grande prairie dévalait mollement la pente jusqu’à une lisière de pins dont on apercevait uniquement la cime. Un ancien ruisseau avait laissé sa trace dans la pente, dénudant la terre jusqu’à la roche qui perlait au soleil. Mis à part les restes d’humidité matinale, il était sec. Au bord de l’étendue, se réveillait à peine une maison dont la cheminée trahissait la théière sur le feu allumé. En contrebas de celle-ci, trois serres couraient à flanc. Nous arrivâmes bientôt sur la terrasse herbeuse attenant la bâtisse.</p>

<ul>
<li>Bienvenue à toi.</li>
</ul>
<p>Un homme venait à notre rencontre. Ses cheveux gris brossés en arrière au dessus d’un large front, son visage fin et son expression avenante présageaient toutes les attentions qu’il me porterait.</p>
<ul>
<li>Je me nomme Eyn Oujar et suis très heureux que tu aies marché jusqu’à nous.</li>
</ul>

<p>Il y avait du monde autour de la maison, tous occupés à leur tâche. Certains avaient sorti une table pour préparer le repas de midi au soleil et ils m’accueillirent chaleureusement. Borée sortit deux chaises et les installa au bord du plateau, juste avant la pente. Eyn s’assit sur l’une d’elle, et m’invita à faire de même.</p>
<ul>
<li>C’est quoi ce camp scout? Vous jouez aux survivalistes?</li>
</ul>
<p>L’homme eu un sourire amusé et ne prit même pas la peine de répondre à mes provocations puériles.</p>
<ul>
<li>On appelle ce lieu Bardole, du nom de la vallée.</li>
<li>Enfin moi tu m’entendras surtout parler de l’asile.</li>
</ul>
<p>Borée avait complété avec une fermeté assumée tandis qu’elle me tendait une tasse qui me brûla les mains. Eyn fit la moue, comme exaspéré.</p>
<ul>
<li>Ça c’est de l’accueil, tu vas la faire fuir avant même qu’elle ait goûté son thé.</li>
</ul>
<p>Elle reprit, tout en s’asseyant en tailleur à même le sol.</p>
<ul>
<li>L’asile au sens du refuge bien évidemment.</li>
</ul>

<p>Eyn prit le temps de me raconter l’histoire du lieu et, à chacune de mes questions, laissait à chaque fois sa quiétude répondre avant sa parole. Surtout, il me montra une franchise et une honnêteté qui semblaient totales.</p>
<ul>
<li>Bardole a toujours été un lieu sanctuaire et l’on raconte que six mois après la disparition des extra-humains, un cerf aurait été aperçu à la lisière de la plaine.</li>
</ul>
<p>Mon regard dut témoigner de mon étonnement comme il me le fit remarquer.</p>
<ul>
<li>Les légendes font ouvrir les yeux.</li>
</ul>

<p>Eyn Oujar avait fondé ce lieu avec d’autres quatre ans avant l’extinction. Psychiatre de formation, l’idée était de proposer une thérapie avec le moins de traitement chimique possible. À défaut d’enfermer ou de soigner en prétendant guérir, les habitants de Bardole préféraient simplement vivre ensemble et faire avec, se concentrer sur d’autres activités plutôt que sur leur mal-être. Vous me direz que ça ressemble franchement à des slogans de publicités personnalisées que l’on peut entendre partout en ville, vantant les mérites des divertissements, échappatoires du “blues de la nature”. Une fois, au travail, je me suis retrouvée sur un pouf lors d’une séance de yoga avec exactement la même ambition. Je lui fit remarquer, amusée, et il me répondit du tac au tac.</p>
<ul>
<li>C’est pour se dédouaner de la souffrance des employés que les entreprises se mettent à la méditation. Être cause et solution à la fois, voilà bien un des aspects du problème.</li>
</ul>
<p>À Bardole, ils ont commencé par accueillir les troubles psychotiques, devenus trop lourds à gérer par l’institution, qui préférait ne plus se concentrer que sur le secteur rentable et massif de la souffrance mentale. C’était les prémices de la &#968A.</p>
<ul>
<li>Un jour, un homme s’est retrouvé admis dans mon service et je pris le temps de le rencontrer comme j’en avais l’habitude avec les nouveaux. L’IA avait diagnostiqué une prédisposition à la schizophrénie d’après le tout nouveau DSI. Une prédisposition. Certes, il présentait des antécédents familiaux, et il avait de temps à autre des attitudes sociales non consensuelles mais de là à le qualifier de schizophrèneJe crois même que ce diagnostic inconsidéré a été déclencheur de grande souffrance chez ce patient qui dut être ensuite accompagné pendant deux ans, pour dépression. C’est un cas parmi d’autres mais celui-ci a été déclencheur pour moi.</li>
<li>C’est pour ce genre de cas que le DSI a ensuite été limité aux souffrances mentales.</li>
<li>Et c’est déjà trop mais effectivement, on a fait preuve d’un peu de prudence tardive pour une fois. J’ai des collègues en ville qui font de leur mieux avec le peu de moyens qu’on leur donne. Eux comme moi, nous restons; nous ne foutons pas le camp. Nous errons dans les parages de ces êtres dont plus personne ne veut s’occuper et qui ne peuvent ou ne veulent pas dire. Nous ménageons des passerelles, j’appelle ça des passerelles diaphanes, pour qu’ils puissent s’approcher du dire. Ici, nous sommes tous patients et soignants à la fois. J’aide les schizophrènes à trouver un rythme convenable pour eux et pour les autres, et dans le même temps, ils m’apportent l’altérité de la vie.</li>
<li>Mais tout le monde n’est pas fou ici, non?</li>
<li>Le terme folie est très subjectif mais tu as raison, avec le temps et le développement de la &#968A, de nombreuses personnes nous ont rejoint, pour respirer, s’inspirer ou même y rester.</li>
<li>Et donc votre solution c’est de vous couper du monde?</li>
<li>De quel monde parles-tu? Celui où le vivant n’est plus? Celui où plus personne ne croit mais où tous se contentent de l’existant? S’agit-il de fabriquer obstinément de l’homogène en se persuadant du contraire, que nous sommes tous acteurs de nos vies? La pire des maladies c’est l’illusion. Alors ici, nous tâchons de créer de l’hétérogène pour que l’on puisse passer d’un point à un autre. Il ne s’agit pas d’agitation, mais plutôt du refus de la pression aliénatoire pour que rien ne se passe. Et pour te répondre précisément, nous ne retenons personne ici, chacun peut partir quand bon lui semble et ça arrive assez souvent même. Alors si quelqu’un en fait la demande, nous prenons les précautions d’usage pour lui créer un nouveau profil &#968A afin qu’il reparte de zéro une fois en bas.</li>
<li>Vous pouvez faire ça vous?</li>
<li>Tu n’as pas le monopole de la fourberie des données.</li>
<li>Et les accès informatiques nécessaires?</li>
<li>Ça, c’est parce que nous sommes bien entourés.</li>
</ul>
<p>Il m’avait répondu avec un sourire empli de malice.</p>

<p>Eux aussi s’étaient particulièrement intéressés à moi suite à l’évènement dont ils étaient bien les auteurs avec d’autres collectifs. En fait, c’était précisément le plan: faire écouter le vivant disparu à un maximum de gens dans les lieux publics pour identifier au travers de leur réaction ceux qui pourraient les rejoindre. Y a pas à dire, avec ma scène dans le tramway j’ai dépassé leurs attentes, et quand en plus ils se sont rendu compte de ma profession, ils ne m’ont plus lâchée et m’ont traquée dans l’OpenPsyData pour me localiser.</p>
<ul>
<li>Ta réaction à l’écoute de l’archive sonore a été si détonante que nous en étions abasourdis. Mais je crois que l’étonnement est une qualité essentielle aujourd’hui, ça crée le tissu de la rencontre. Tilo, un développeur du centre-ville qui nous a aidé pour te retrouver, était d’ailleurs impressionné par ton IA personnelle.</li>
</ul>
<p>Je ne relevais pas le compliment.</p>
<ul>
<li>Et donc vous me faites venir dans votre saint asile sans aucune autre précaution que de vérifier mon occultation?</li>
<li>Peut-être bien que l’on a fait une erreur en te faisant immédiatement confiance. Nous en avons débattu mais l’opportunité était trop grande et le timing trop serré pour te rencontrer ailleurs.</li>
<li>Quel timing?</li>
</ul>
<p>Borée sortit du silence.</p>
<ul>
<li>Nous souhaitons éveiller un maximum de gens en bas.</li>
<li>Leur imposer votre vision révolutionaire tu veux dire?</li>
</ul>
<p>Eyn parût inquiet de ma réponse vive, et c’était à raison.</p>
<ul>
<li>La &#968A est un outil d’autocontrôle accepté par tous. Il s’agit simplement de laisser enfin le choix sur son utilisation ou non.</li>
<li>Et c’est là que la gentille développeuse intervient. Vous croyez sérieusement que j’ai les droits administrateurs sur la &#968A ?</li>
<li>Nous ne t’obligeons à rien, prends simplement le temps de te poser cette question fondamentale: “Qu’est-ce que je fous là?”.</li>
</ul>

<p>Incapable de tenir plus longtemps cette attitude méfiante, j’ai fini par lâcher prise et enfin appréhender pleinement les gens que je venais de rencontrer. Nous étions une bonne trentaine attablés sur la terrasse, et j’étais totalement fascinée par la vie qui m’entourait. Ça parlait de la terre, de l’activité dans les serres ou encore de la pièce de théâtre qui aurait lieu le soir même. On m’interrogeait également, sur les raisons de ma venue et sur le temps que je resterais.</p>
<ul>
<li>Tu ne connaîtrais pas mon oncle? Il habite également l’immeuble Pesquet dans le secteur 2. Monsieur Crolles qu’il s’appelle.</li>
</ul>
<p>Non, je ne le connaissais pas. Je me sentais minuscule en leur répondant, et au début du repas je redoutais de voir dans leur regard un jugement marquant la distance qui nous séparait. Il n’en fut rien et pour tout dire, je me sentais tout à fait à l’aise, en vérité avec moi-même et ceux qui m’entouraient.</p>

<p>Ce que je pouvais être bête parfois. C’est qu’il y avait de quoi y croire quand même. Un fol espoir. Ou plutôt une imagination inavouée. Après le repas, Eyn m’a raccompagnée une moitié du chemin et au moment de le quitter, cette interrogation m’a débordée: si Borée était une disparue, alors pourquoi pas lui? Derrière ses lunettes ovales, les yeux attendris d’Eyn étaient emplis de tendresse et il me répondit doucement.</p>
<ul>
<li>Ton père? Non, je ne le connais pas. Je suis désolé. Mais nous ne sommes pas les seuls, il existe d’autres communautés, il y en a même en ville. Peut-être est-il ailleurs. Ne tarde pas, pour l’instant, mieux vaut pour toi de rester dans le rang, quel que soit ton choix.</li>
</ul>

<p>Après avoir récupéré mon téléphone à la croix sans angle, je redescendais aux seules lumières de la ville et de la lune gibbeuse. Ma frontale était dans mon sac mais je daignais la sortir, préférant éprouver maladroitement le chemin plutôt que d’en faire un spectre aseptisé. Les paroles d’Eyn bouclaient dans ma tête et surtout, je me demandais bien comment pouvait-il vivre ainsi. Je concevais tout-à-fait que l’on puisse avoir des choses à redire sur le monde tel qu’il était, mais de là à s’isoler de manière si absolue, ça me dépassait complètement. De manière remarquable, ces personnes ne prétendaient toutefois pas proposer un monde meilleur ni convaincre quiconque; elles voulaient simplement autre chose en éveillant le présent, et je les croyais sincères.</p>
<p>Arrivée chez moi, j’étais profondément apaisée par mon état de conscience, non pas au sens de la compréhension mais bien dans celui du ressenti. Je crois bien que c’était la première fois que j’éprouvais ça. Mon esprit avait gagné en lenteur, en attention à moi-même. Mes sensations étaient emplies d’une quiétude inouïe, un bien-être que nul psychotrope ne m’avait jamais procuré.</p>
<h2 id="section-5"></h2>
<ul>
<li>Comment allez-vous aujourd’hui?</li>
</ul>

<p>Alepsya avait mis plus d’entrain qu’à l’habitude dans sa question. Normal, c’était un lundi. Après l’échange de banalités et l’évaluation de mon humeur, le cachet personnalisé est tombé dans la gamelle sous la fente avec le tintement attendu.</p>
<ul>
<li>Vous êtes remise de votre passage dépressif. Votre traitement se compose maintenant à 62% de ritaline pour le trouble de l’attention et à 38% de sérotonine pour le bonheur de l’instant présent. Vous êtes également invitée à reprendre le travail. Mania en est déjà informé et le <em>Chief Happiness Officer</em> vous attend à 10h dans son bureau.</li>
</ul>
<p>Invitée. Bien évidemment. Je me retins de souffler trop fort pour alerter les capteurs sonores. J’espérais plus de répit et pouvoir prendre le temps d’assimiler au fond de moi ce que je venais de vivre. Je fis mine d’avaler la pilule et allais le ventre en vrac au travail.</p>

<p>Pas de cotillons, juste le retour à la normalité. Mon ordi à double écran et la pile d’anomalies &#968A détectées la semaine passée. C’est qu’il y avait quelque chose d’absolument rassurant dans ce quotidien. Une forme de stabilité parfaitement maîtrisée, une lumière homogène et diffuse qui ne produit pas d’ombre. Les collègues m’ont saluée de loin, préférant garder leurs distances avec l’anormale, jusqu’au moment où le CHO les invita à m’aborder à la pause de midi.</p>

<p>Il ne m’a pas fallu trois jours pour reprendre mon traitement personnalisé. Après l’intensité vécue suite à l’évènement, la découverte inouïe de Bardole, c’est comme si j’avais été débordée par le monde à mon retour. La docilité gluante avec laquelle j’ai retrouvé mon confort de vie était effrayante. Le consensus de facilité, qui invite à se perdre dans son bien-être personnel, je l’ai retrouvé comme avant, mais cette fois en pleine conscience de mes non-choix. Borée m’a recontactée, puis Eyn. Et moi, j’ai simplement disparu – je me suis fondue dans la norme sans même avoir besoin d’occultation. Je me suis perdue, corps et psyché, dans la folie normale.</p>
<p>Sauf que je n’avais plus le luxe de la candeur. Chaque matin, avant que les effets du cachet ne se fassent ressentir, je serrais autant que possible ma mâchoire, je me sentais tellement à l’étroit dans ma tête que j’en étais presque capable de la frapper contre les murs pour me faire une raison de cet abandon. Voilà ce que j’avais fait: me fabriquer une intensité de vie, me faire déborder par celle-ci, puis l’abandonner, déjà usée par la fascination que je lui avais accordée. Imaginer ce que pouvaient bien penser de moi les habitant de Bardole m’était à la fois insupportable et impossible à éviter mentalement. Cette pensée revenait, opiniâtre, dure et lancinante.</p>
<p>Il m’arrivait souvent de me figurer mes actes, absolument opposés à mon attitude réelle. Et si je m’étais véritablement engagée dans cette résistance contre le déplacement de produit humain? Et si, au gigamarché, je laissais enfin mon entêtement prendre le pas sur moi? Et si je me mettais à interpeller tout le monde comme j’avais pu le faire dans le tramway? On me considérerait comme une dingue à coup sûr. Mais était-ce si important? Mieux vaut-il le délire ou le cauchemar journalier? Ne vaut-il pas mieux être folle que zombie? Je me rêvais ainsi anormalement sauvage, emplie par la douleur de vérité, indifférente à la légitimité de la majorité. Ce genre de pensées, je les avalais d’une pilule. C’est si simple d’oublier le désespoir.</p>
<p>J’avais la sensation d’être une enfant jouant à cache-cache. Faut dire qu’étant gamine, je détestais ce jeu. C’est comme si en permanence, quelqu’un me surprenait dans ma cachette et qu’à son approche, je couvrais simplement mon visage de mes petites mains. Par ce geste impuissant, en évitant de regarder ma peur tout en étant prise au piège, je me persuadais d’être cachée, à l’abri.</p>
<p>Par autocontrôle constant, je sous-vivais le quotidien en veillant à être là où on m’attendait, au point que mon équilibre &#968A était plutôt bon.</p>

<ul>
<li>Tu as vu les infos?</li>
</ul>
<p>Je fis non de la tête à ce collègue, muette et instantanément crispée. Demandé ainsi, ça n’est jamais très bon</p>
<ul>
<li>Une bande de barges a été arrêtée par la technopolice dans la vallée de Bardole. Apparemment, ils voulaient s’attaquer à Mania!</li>
</ul>

<p>J’ai terminé la journée en apnée et, rentrée chez moi, j’ai immédiatement activé l’occultation &#968A.</p>
<h2 id="section-6"></h2>
<p>Je ne saurais dire si je l’espérais. Je peux en tout cas affirmer que j’en avais le pressentiment.</p>

<ul>
<li>Entre, pas la peine de rester sur le pas de porte.</li>
</ul>
<p>Elle n’avait rien dit. Avec son visage sombre, et ses yeux farouches, Borée était prête à détaler à la moindre expression négative que j’aurais pu signifier. Sur son front était relevé un écran facial à lumière naturelle, le moyen le plus efficace pour ne pas alerter les drones de patrouille en ville. Je n’avais jamais vu un modèle si réaliste.</p>
<p>Elle fit quelques pas et observa la pièce sans s’attarder sur Alepsya qui trônait sur la table basse.</p>
<ul>
<li>C’est safe, t’en fais pas.</li>
<li>Merci.</li>
</ul>
<p>Sa voix était douce malgré tout. Avant même qu’elle ne raconte, je savais. La surprise, la fuite, être traquée, trouver refuge.</p>
<ul>
<li>Ils ont embarqué tout le monde, je crois bien être la seule de Bardole à m’en être sortie.</li>
<li>Où est-ce qu’ils les ont emmenés?</li>
</ul>
<p>Je pouvais pas faire plus stupide comme question.</p>
<ul>
<li>Ça n’a aucune importance de savoir où ils sont. Eyn et les autres ont disparu. Et pour de bon; cette fois, ça n’était pas de leur plein gré.</li>
</ul>
<p>Silencieuse, j’étais incapable de soutenir son regard. La honte de moi-même me saisissait. Je me sentais mourir en prenant conscience de mon inaction.</p>
<ul>
<li>Je ne t’en veux pas. Je suis simplement venue souffler sur les braises que tu portes en toi. Est-ce que tu as la rage ardente pour m’aider, ou est-ce que tu es vraiment redevenue une zombie comme tout le monde le pensait?</li>
<li>T’en pensais quoi toi?</li>
<li>Moi je refusais de le croire.</li>
</ul>
<p>Cette fille, elle incarnait la violence que je n’ai jamais eu pour moi-même. Avec elle, tout semblait être amour et fureur, passion et intensité. C’était inspirant et écrasant à la fois. J’avais l’impression de vivre dans un monde si différent, d’être à l’arrêt complet, d’attendre toute penaude que l’univers bouge autour de moi tandis qu’elle avait fait le choix d’abandonner toute concession avec celui-ci pour créer son propre système stellaire. Un cosmos dont elle était partie prenante, où elle s’accrochait aux siens, où elle respirait avec eux l’amour et l’amitié, un Omega qui n’était plus car disparu.</p>
<ul>
<li>Ça fait des semaines qu’on bossait sur un projet d’injection de données dans la &#968A. Tout est prêt, il ne manque plus que des codes d’accès aux bases de données.</li>
<li>Comment ça? Vous voulez rendre l’anormal normal c’est ça?</li>
<li>C’est un peu plus subtil que ça. C’est Tilo qui est derrière ce coup. Eyn, disait toujours qu’il faut peu de chose pour influer sur toute une série d’évènements. Je crois que tu peux être cette petite chose.</li>
</ul>

<p>Pourquoi ai-je accepté? Certains diront que j’étais manipulée, touchée par le présent et fragile des souvenirs de mon père. D’autres penseront que la situation était tellement dissonante et vivifiante que j’ai foncé. Moi, je crois bien que je souhaitais simplement répondre à la question que m’avait soufflée Eyn: “Qu’est-ce que je fous là?” et que la réponse, c’est Borée qui me l’avait inspirée.</p>
<h2 id="section-7"></h2>
<p>L’injection de données est prévue à 6h30. On est samedi. Avec Tilo, dont finalement je ne sais rien, à part qu’il habite dans une communauté urbaine et qu’il a des accès dans les serveurs telecoms, nous avons passé la nuit entière à consolider notre attaque. Contourner les sécurités d’ajout massif de profils est particulièrement délicat. L’idée est de solliciter simultanément les différents serveurs locaux juste avant la mise à jour de l’ensemble du réseau, et dans le même temps supprimer les données temporelles pour empêcher que l’on puisse identifier les comptes nouvellement inscrits. Je n’ose pas réfléchir à ce que nous allons provoquer avec nos fausses données. Lorsqu’ils m’ont finalement présenté le plan, nous avons ébauché quelques scénarios mais entre probabilité et prédiction, il ne sert à rien de trop s’avancer. Mes doigts glissent sur le clavier. À mon grand étonnement, Borée me propose des amphétamines pour tenir malgré la fatigue. C’est que l’enjeu est trop grand, me dit-elle. Je refuse, et puis j’en prends un peu. Il est 6h25, la journée sera longue, et je vais la passer derrière un écran pour m’assurer de la réussite de l’injection.</p>

<p>Elle est là, derrière moi, je ressens sa chaleur et sa présence m’apaise. Pourquoi Alepsya ne m’a-t-elle jamais prescrit d’amour?</p>

<p>6h31 – Une habitante de la place centrale (secteur 2) se voit prescrire quatorze pilules d’anxiolytique sous prétexte d’avoir laissé son chat dormir sur son lit.</p>

<p>7h24 – Quarante-deux comprimés de Modafinil sont proposés à un coursier groggy de sa nuit de livraison après avoir versé son lait dans son verre plein de jus d’orange.</p>

<p>9h23 – Une assistante maternelle est interdite d’entrée dans le parc Musk (secteur 3) pour ne pas y importuner les autres enfants du secteur 1 venus s’y aventurer.</p>

<p>10h02 – Un employé du ministère de l’éducation est licencié pour insubordination et tendance violente après avoir tapé sur le côté de l’imprimante de nouveau en bourrage papier.</p>

<p>10h04 – Vingt-quatre hommes armés enfoncent la porte de l’appartement 1305 de l’immeuble Pesquet (secteur 2), à l’origine de l’attaque terroriste. Le logement est vide.</p>

<p>11h33 – Un usager jouant au jeu-vidéo en réalité virtuelle <em>Call of Psycho</em> a ressenti une frustration prononcée et Alepsya lui recommande de réaliser cent quatre tours du quartier pour prendre l’air.</p>

<p>11h44 – Un <em>trainer</em> a la surprise de voir sa propre image apparaître sur l’écran. Incapable de déterminer son émotion faciale, il désinstalle l’appli.</p>

<p>12h36 – Des bruits relevant de la faune sauvage sont diffusés simultanément par tous les téléphones. Au Gigamarché, un mouvement de panique se produit suite à la présence supposée d’un tigre au rayon pâtes et sauces.</p>

<p>12h52 – Le docteur Serrani, dernier biopsychiatre de la ville encore ouvert, ferme finalement son cabinet, faute de ne pas avoir retrouvé son DSM d’étudiant dans ses placards.</p>

<p>13h25 – Émilien Dubord, cadre du <em>hedge fund</em> Solaris (secteur 1), a un coup de mou et demande à Alepsya de lui commander une plaquette de Concerta. Un coursier lui livre 15 minutes plus tard un sandwich végan houmous, tomates séchés, roquette.</p>

<p>15h22 – Louison, octogénaire de la rue d’Ambre (secteur 3) est heureuse de donner des conseils à sa jeune voisine de palier, incapable de consoler son fils après l’arrêt soudain de l’appli <span class="math inline"><em>Ψ</em></span>School.</p>

<p>17h58 – Tilo Baumann et ses colocs descendent une table de leur cuisine pour l’installer au milieu de la rue Chirac (secteur 3). Ils invitent les voisins à faire de même et partagent l’apéro.</p>

<p>19h00 – La &#968A constate un accroissement de 942% des interactions humaines. Le sujet principal de discussion est le mécontentement envers Alepsya.</p>

<br/>
<p style="text-align:right; font-style:italic">Grenoble, 30 novembre 2019</p>
